@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@tailwind components;
@tailwind utilities;

.cart-title {
  line-height: 1.33333;
  border-bottom: 1px solid rgb(226, 226, 226);
  font-weight: 800;
}

.list-items {
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(226, 226, 226);
}